STRING:
    
once we create a string object,we cannot modify the content because it is immutable object.

even if we modify, instead of changing the content in original object, it creates new object

## Removing of spaces from the String

strip(): to remove spaces from both sides of the string but not middle space.
    
rstrip():to remove space at rightside of string.
    
lstrip():to remove space at left side of string.
    
NOTE:strip is mainly used in MAILS

syntax: stringname.strip()/lstrip()/rstrip():

In [1]:
s=input("enter string:")
print(s)
s1=s.strip()
print(s1)

enter string:    divyasri
    divyasri
divyasri

In [ ]:
s=input("enter string:")
print(s)
if s=="divyasri":
    print("spaces removed")
else:
    print("pls remove the spaces")
    s1=s.strip()
    if s1=="divyasri":
        print("spaces removed by strip function")

In [ ]:
s=input("enter string:")
print(s)
if s=="divyasri":
    print("spaces removed")
else:
    print("pls remove the spaces")
    s1=s.rstrip()
    if s1=="divyasri":
        print("spaces removed by strip function")

In [ ]:
s=input("enter string:")
print(s)
if s=="divyasri":
    print("spaces removed")
else:
    print("pls remove the spaces")
    s1=s.lstrip()
    if s1=="divyasri":
        print("spaces removed by strip function")

## finding substring

for forwarding direction:
    
    1.find()
    
    2.index()
    
for backward direction:
    
    1.rfind()
    
    2.rindex()

### 1.find():

In [ ]:
returns index of first occurence of given substring in main string. if it is not found it returns(-1)

       syntax: s.find(substring)
       syntax for boundaries without searching the whole string: s.find(substring,startindex,endindex)

In [1]:
s="Hello gud mrng, hello gud evng"
print(s.find("Hello"))

0

In [2]:
s="Hello hello gud mrng, hello gud evng"
print(s.find("hello"))
print(s.find('e'))
print(s.find("gud"))
print(s.find("divya"))
print(s.find('x'))

6
1
12
-1
-1

In [3]:
s="Hello Hai How are you"
print(s.find("Hello",2,15))
print(s.find("Ha",2,14))

-1
6

## 2.index():

index is same as find() except that if the substring is not found it will give value error. To deal with value errors we use exception handling concept.

In [4]:
s="Hello Divyasri Maddineni"
print(s.index("Hello"))
print(s.index("divyasri"))

0

ValueError: substring not found

In [5]:
#To deal with value errors we use exception handling concept.
s="Hello Divyasri Maddineni"
try:
    print(s.index("sravya"))
except ValueError:
    print("substring is not found")

substring is not found

## counting substring in mainstring

we use count() to count the given string or character. if a string or character is not found then it returns(0)

In [3]:
s="Hello good morning, Hello, Hello How are you, you"
print(s.count("H"))
print(s.count("Hello"))
print(s.count("hello"))
print(s.count("divya"))
print(s.count("Hello",10,40))

4
3
0
0
2

## replacing string with another string

we use replace()

syntax:s.replace(oldstring,newstring)

once string/character gets replaced then old string/char remains same and it doesn't get modified

In [5]:
s="Hello good morning, hello, Hello, How are you"
s1=s.replace("Hello","divya")
print(s1)
print(s)
print(id(s1))
print(id(s))

divya good morning, hello, divya, How are you
Hello good morning, hello, Hello, How are you
1500899004944
1500899005904

In [2]:
s="#@$$$$$ good morning, hello, Hello, How are you"
s1=s.replace("#@$$$$$","divya")
print(s1)
print(s)
print(id(s1))
print(id(s))

divya good morning, hello, Hello, How are you
#@$$$$$ good morning, hello, Hello, How are you
2852124905072
2852125327408

## splitting of the strings

we use split()

In [7]:
s="Hello DivyaSri Maddineni"
l=s.split()
print(l)

['Hello', 'DivyaSri', 'Maddineni']

In [14]:
date="27-04-2021"
l1=date.split('-') # "-"

print(l1)

['27', '04', '2021']

In [13]:
date="27-04-2021"
l1=date.split("/")
print(l1)

['27-04-2021']

In [15]:
date="27-04-2021"
l1=date.split("2")
print(l1)

['', '7-04-', '0', '1']

## joining of strings:

syntax: 
    
    s=seperator.join(group of strings)

In [11]:
l=["divya","sri"]
s=':'.join(l)
print(s)

divya:sri

In [18]:
l=["divya","sri"]
s=' '.join(l)
print(s)

divya sri

In [16]:

s=':'.join("divya","sri")
print(s)

TypeError: join() takes exactly one argument (2 given)

## changing the case of string

1.upper(): to convert all characters to uppercase

In [1]:
s="Hello Good Evening"
print(s.upper())

HELLO GOOD EVENING

2.lower(): to convert all characters to lowercase

In [2]:
s="HELLO Divya"
print(s.lower())

hello divya

3.swapcase():converts uppercase to lowercase and lowercase to uppercase

In [3]:
s="HELLO DivyaSri"
print(s.swapcase())

hello dIVYAsRI

In [ ]:
4.capitalize(): converts only first character will be converted to uppercase

In [4]:
s="hello divyasri"
print(s.capitalize())

Hello divyasri

In [ ]:
5.title():converts first character of each word to uppercase

In [5]:
s="hello good mrng divyasri"
print(s.title())

Hello Good Mrng Divyasri

## checking starting & ending part of the string

In [ ]:
this concept is mainly used in AI,NLP
1.startswith()
2.endswith()

>these both produces the output as bool values

In [6]:
s="hello good mrng divyasri"
print(s.startswith("hello"))
print(s.startswith("Hello"))

True
False

In [8]:
s="hello good mrng divya sri"
print(s.endswith("sri"))
print(s.endswith("sree"))
print(s.endswith("Sri"))

True
False
False

In [9]:
s="hello good mrng divyasri !"
print(s.endswith("!"))

True

## to check type of characters present in the given string

In [ ]:
>used in the creation of password.

In [ ]:
1.isalnum(): returns True if all characters are Alphanumeric else displays False.

In [10]:
print("Divyasri987".isalnum())

True

In [11]:
print("154987".isalnum())

True

In [12]:
print("Divyasri@9999".isalnum())

False

In [13]:
print("Divyasri    9999".isalnum())

False

In [ ]:
2.isalpha(): returns True if all the characters are Alphabets.

In [14]:
print("Divyasri".isalpha())

True

In [15]:
print("Divyasri123".isalpha())

False

In [16]:
print("987654321".isalpha())

False

In [17]:
print("Divya   sri".isalpha())

False

In [18]:
print("Divyasri@sri".isalpha())

False

In [19]:
print("123#456".isalpha())

False

In [ ]:
3.isdigit(): returns True if all the characters are Digits.

In [20]:
print("123456".isdigit())

True

In [21]:
print("12.3456".isdigit())

False

In [22]:
print("123456@divya".isdigit())

False

In [23]:
s="123"
print(s.isdigit())

True

In [ ]:
4.islower(): returns True if all the characters are in lowercase

In [24]:
s="hello"
print(s.islower())

True

In [25]:
s="Hello"
print(s.islower())

False

In [27]:
s="he llo    "
print(s.islower())

True

In [28]:
s="hello@1234"
print(s.islower())

True

In [ ]:
5.isupper(): returns True if all the characters are in Uppercase

In [29]:
s="DIVYASRI"
print(s.isupper())

True

In [30]:
s="DIVYAsri"
print(s.isupper())

False

In [33]:
s="  DIVYA  @ SRI 123  "
print(s.isupper())

True

In [32]:
s="DIVYA@SRi"
print(s.isupper())

False

In [ ]:
6.istitle(): returns True if the starting character of the word is in uppercase i.e, returns True if given string is in titlecase

In [34]:
s="Hello Divya Gud Mrng"
print(s.istitle())

True

In [35]:
s="Hello divya Gud Mrng"
print(s.istitle())

False

In [36]:
s="Hello Divya Gud Mrng @123 456"
print(s.istitle())

True

In [37]:
s="Hello Divya Gud Mrng a@123"
print(s.istitle())

False

In [ ]:
7.isspace(): returns True if the string contains only spaces

In [38]:
s="      "
print(s.isspace())

True

In [39]:
s="    hello    "
print(s.isspace())

False

In [40]:
s="     h  e   l   l   o   "
print(s.isspace())

False

In [41]:
s="  @   "
print(s.isspace())

False

## formatting the strings

In [ ]:
format()

In [43]:
name="Divya"
salary=1000000
age=21
print("{}'s salary is {} and her age is {}".format(name,salary,age))

Divya's salary is 1000000 and her age is 21

In [49]:
name="Divya"
salary=1000000
age=21
print("{}'s salary is {} and her age is {}",format(name,salary,age))

TypeError: format expected at most 2 arguments, got 3

In [44]:
name="Divya"
salary=1000000
age=21
print("{}'s salary is {} and her age is {}".format(age,salary,name))

21's salary is 1000000 and her age is Divya

In [45]:
#another method
name="Divya"
salary=1000000
age=21
print("{x}'s salary is {y} and her age is {z}".format(x=name,y=salary,z=age))

Divya's salary is 1000000 and her age is 21

In [46]:
name="Divya"
salary=1000000
age=21
print("{0}'s salary is {1} and her age is {2}".format(name,salary,age))

Divya's salary is 1000000 and her age is 21

In [47]:
name="Divya"
salary=1000000
age=21
print("{0}'s salary is {2} and her age is {1}".format(name,age,salary))

Divya's salary is 1000000 and her age is 21

In [48]:
name=input("enter name of the employee:")
salary=int(input("enter salary:"))
age=int(input("enter age:"))
print("{0}'s salary is {1} and her age is {2}".format(name,salary,age))

enter name of the employee:divya
enter salary:1000000
enter age:21
divya's salary is 1000000 and her age is 21